$transparent:transparent;
$white: #ffffff;
$white-grey: #fcfcfc;

$black: #000000;
$black-light: #0e0f0a;
$black-dark: #030303;
$grey-dark: #2b2835;
$grey-light: #545454;
$red-dark: #b80101;
$yellow-dark: #ffc700;

$blue-text: #485769;
$blue-dark: #3a6fb0;
$blue: #498bdc;
$blue-light: #66b9ea;
$blue-lighter: #98c7ee;
$blue-lightest: #f8f8f9;
