::placeholder{
    color:#bfbfbf;
    font-size: 16px;
    font-weight: 500;
}

::-webkit-input-placeholder { 
    color: #bfbfbf;
    font-size: 16px;
    font-weight: 500;
  }

.landingInput{
    height:50px;
    width:100%;
    border:solid 1px #bfbfbf;
    padding-left:30px;
    border-radius: 4px;
}

.main_section{
    display: flex;
    flex-direction: column;
    .main_content{
        padding: 16px;
        background: $grey-dark
    }
}

.section_1{
    display: flex;
    flex-direction: column;
    .section_1_content{
        padding: 22px 16px;
        background: $white;
    }
}

.section_2{
    display: flex;
    flex-direction: column;
    .section_2_content{
        padding: 20px 16px;
        background: $yellow-dark;
    }
}