.white_dark_btn{
    background: $white;
    color: $grey-dark;
    padding: 12px 40px;
    border-radius: 100px;
    border: none;
}

.grey_white_btn{
    background: $grey-dark;
    color: $white;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
}